.card {
  background-color: var(--color-primary);
  border-radius: 20px;
  box-shadow: var(--shadow-dark-small);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-300);

  position: relative;

  & h3 {
    text-align: center;
    margin-top: var(--space-400);
    margin-bottom: var(--space-400);
  }

  & .card-screenshot {
    min-width: 200px;
  }

  & img {
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
  }

  & .card-description {  
    transition: 300ms ease-in-out;
  }

  & .card-links {
    min-width: fit-content;
    display: flex;
    gap: var(--space-300);

    position: absolute;
    bottom: 30%;
    
    & a {
      display: block;
      width: 50px;
      opacity: 0;
      height: 0;

      transition: 200ms ease-in-out;
      
      &:hover {
        transform: scale(1.2);
        & .card-svg path {
          fill: var(--color-text-lime)
        }
      }
    }
  }

  &:hover {
    box-shadow: var(--shadow-dark-large);

    & .card-description {
      filter: blur(30px);
    }

    & a {
      opacity: 1;
      height: 100%;
      animation: from-bottom 0.5s 1;
    }
  }
}

@keyframes from-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}





