.contact-details {
  align-self: center;

  & .email {
    margin-bottom: var(--space-600);
  }

  & svg {
    vertical-align: middle;
    transition: 300ms ease-in-out;
  }

  & .links {
    margin-left: auto;

    & a {
      margin: var(--space-200);
    }
  }
}