.footer-image-container {
  background-image: url("/assets/images/top-view-of-a-desk-with-laptop-notebook-pen-and-cell-phone-free-photo.webp");
  background-size: cover;
  aspect-ratio: 2940 / 1960;
}