.image-container {
  background-image: url("/Portfolio/assets/images/domenico-loia-hGV2TfOh0ns-unsplash-350.jpg");
  background-size: cover;
  aspect-ratio: 400 / 267 ;
  width: 100%;

  & h1 {
    color: var(--color-text-dark);
    text-align: center;
    text-transform: uppercase;
    
  }


  @media (min-width: 350px) {
  background-image: url("/Portfolio/assets/images/domenico-loia-hGV2TfOh0ns-unsplash-750.jpg");
  grid-area: 1 / 1 / 3 / 8;
  
  }

  @media (min-width: 750px) {
    background-image: url("/Portfolio/assets/images/domenico-loia-hGV2TfOh0ns-unsplash-1600.jpg");
    grid-area: 1 / 1 / 3 / 7;
  }
}