.introduction {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
  padding: 1em;
  grid-column: 3 / 9;
  grid-row: 1 / -1;
  align-self:center;

  @media (min-width: 750px) {
    grid-column: 5 / 9;
  }
  
  @media (min-width: 1000px) {
    grid-row: 2 / -1;
    align-self: self-end;
  }

  
}