.navbar {
  background-color: var(--color-secondary);
  font-weight: 600;
  max-width: 95%;
  border-radius: 30px;
  margin: 0 auto;
  padding: 1em;
  box-shadow: var(--shadow-small);

  & ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  }

  @media (min-width: 350px) {
    max-width: 350px;
  }
}