#contact {

  & h2 {
    color: var(--color-text-lime);
    text-align: center;
    margin-top: var(--space-600);
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: var(--color-text-lime);

    & svg {
      transform: scale(1.2);
    }

    & path {
      fill: var(--color-text-lime);
    }
  }
  
  @media (min-width: 750px) {
    & .container {
      flex-wrap: nowrap;
    }

    & .contact-details {
      text-align: start;
      flex: 30%;
    }

    & .footer-image-container {
      text-align: start;
      
      flex: 60%;
    }
  }
}

.credentials {
  font-size: var(--font-size-200);
  margin-top: var(--space-600);
  text-align: center;
}