#skills {
  padding: var(--space-800);
  background-color: var(--color-secondary);

  & ul.container {
    gap: var(--space-800);
  }

  & .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-600);
    justify-content: center;
  }

  & h2 {
    color: var(--color-text-dark);
    text-align: center;
  }

  & li {
    width: 100px;
    aspect-ratio: 1 / 1;
  }

  & .animate {
    animation: scroll-up 500ms 1;
  }
}


@keyframes scroll-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}


