*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  font-family: var(--font-family-primary);
  line-height: 1.5;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: var(--font-family-heading);
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-800);
}

h2 {
  font-size: var(--font-size-700);
}

h3 {
  font-size: var(--font-size-600);
}

h4 {
  font-size: var(--font-size-500);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}


li {
  list-style: none;
}

